<div class="page-content" ng-controller="ProjectOpeCtrl">
    <div class="page-header">
        <h1>项目信息维护
        </h1>
    </div>
    <!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" id="validation-form" role="form">
            
                
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">编号</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" id="Code" name="Code" class="col-xs-10 col-sm-5" data-ng-model="data.Code" />
                        </div>
                    </div>
                </div>                                        
                    
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">名称</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" id="Name" name="Name" class="col-xs-10 col-sm-5" data-ng-model="data.Name" />
                        </div>
                    </div>
                </div>                                        
                    
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">负责人</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" id="Owner" name="Owner" class="col-xs-10 col-sm-5" data-ng-model="data.Owner" />
                        </div>
                    </div>
                </div>                                        
                    
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">工作部门</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" id="Department" name="Department" class="col-xs-10 col-sm-5" data-ng-model="data.Department" />
                        </div>
                    </div>
                </div>                                        
                    
                <div class="form-group" ng-if="data.CreateDateTime!=''">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">创建时间</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" id="CreateDateTime" name="CreateDateTime" class="col-xs-10 col-sm-5" data-ng-model="data.CreateDateTime" disabled />
                        </div>
                    </div>
                </div>                                        
                    

                <div class="space-4"></div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" ng-click="Save()">
                            <i class="icon-ok bigger-110"></i>
                            保存
                        </button>
                        &nbsp; &nbsp; &nbsp;
						<button class="btn" id="BtnGetQRCode" type="reset" onclick="window.history.back()">
                            <i class="icon-arrow-left bigger-110"></i>
                            返回
                        </button>
                    </div>
                </div>

            </form>

            <!-- PAGE CONTENT ENDS -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>

