<div class="page-content" ng-controller="AnalysisProcedureOpeCtrl">
    <div class="page-header">
        <h1>分析过程</h1>
    </div>
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">问题的简洁描述 </label>

                    <div class="col-sm-9">
                        <input type="text" id="form-field-1" ng-model="ProblemShortDesriptionCtrl.InputValue" class="col-xs-10 col-sm-5" />
                    </div>
                </div>

                <script type='text/ng-template' id='judge.html'> 
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-2">{{c.DisplayName}}</label>
                    <div class="col-sm-9">
                        <span id="Span1" data-toggle="buttons" class="btn-group no-margin">
                            <label id="label4" class="btn btn-xs btn-yellow {{op.Selected}}" ng-click="Choose(op.Value)" ng-repeat="op in c.Options">
                                <input type="radio" value="{{op.Value}}"  />
                                {{op.Name}}
                            </label>
                        </span>
                    </div>
                </script>
                <script type='text/ng-template' id='standardsolution.html'> 
                    <label id="DisplayLabel1" class="col-sm-3 control-label no-padding-right" for="form-field-2">{{c.DisplayName}}</label>
                    <div class="col-sm-9">
                            {{c.InputValue}}
                            <button class="btn btn-info btn-xs" ng-click="SelectType(c)">
                                <i class="icon-search  bigger-110 icon-only"></i>
                            </button>
                        <button class="blue" ng-click="Choose(c.Code)">下一步</button>
                    </div>
                </script>
                <script type='text/ng-template' id='model.html'> 
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">物质-场模型</label>
                    <div class="col-sm-9" >
                        <table ng-controller="MaterialFieldModelCtrl" id="sample-table-2" style="width: 80%" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>功能主体(S2)</th>
                                    <th>功能客体(S1)</th>
                                    <th>作用类型</th>
                                    <th>场</th>
                                    <th>场类型</th>
                                    <th>符号</th>
                                    <th><div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                                    <a class="blue" style="cursor: pointer" ng-click="AddMaterialFieldModelInfo()">
                                                        <i class="icon-plus bigger-130"></i>
                                                    </a>
                                                    <a href="" ng-click="RefreshMap()">
                                                        <i class="icon-refresh"></i>
                                                    </a>
                                                </div></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="MaterialFieldModelInfo in MaterialFieldModelInfoList|orderBy:'SerialNum'">
                                            <td style="width:20%"><input type="text" class="col-md-12" ng-model="MaterialFieldModelInfo.FunctionSubject" /></td>
                                            <td style="width:20%"><input type="text" class="col-md-12" ng-model="MaterialFieldModelInfo.FunctionObject" /></td>
                                            <td style="width:25%"><input type="text" class="col-md-12" ng-model="MaterialFieldModelInfo.RelationType" /></td>
                                            <td style="width:10%"><input type="text" class="col-md-12" ng-model="MaterialFieldModelInfo.FieldName" /></td>
                                            <td style="width:10%"><input type="text" class="col-md-12" ng-model="MaterialFieldModelInfo.FieldType" /></td>
                                            <td style="width:8%"><input type="text" class="col-md-12" ng-model="MaterialFieldModelInfo.Symbol" /></td>
                                            <td>
                                                <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                                    <a class="blue" style="cursor: pointer" ng-click="AddMaterialFieldModelInfo()">
                                                        <i class="icon-plus bigger-130"></i>
                                                    </a>

                                                    <a class="red" style="cursor: pointer" ng-click="DeleteMaterialFieldModelInfo($index)">
                                                        <i class="icon-trash bigger-130"></i>
                                                    </a>
                                                </div>
                                            </td>
                                </tr>                                
                            </tbody>
                        </table>
                        <div class="row" ng-controller="MaterialFieldModelMapCtrl">
                            <div class="col-xs-12">
                                <div class="widget-box">
                                    <div class="widget-header widget-header-flat">
                                        <h4 class="smaller">模型图</h4>
                                        <span class="widget-toolbar">
                                            <a href="" ng-click="RefreshMap()">
                                                <i class="icon-refresh"></i>
                                            </a>
                                        </span>
                                    </div>

                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <div class="wrap3_graph">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </script>


                <div class="form-group" ng-repeat="c in ControlList">
                    <current-probleml type="{{c.TemplateName}}"></current-probleml>
                </div>


                <div class="space-4"></div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" ng-click="Save()">
                            <i class="icon-ok bigger-110"></i>
                            保存
                       
                        </button>

                        &nbsp; &nbsp; &nbsp;
					
                        <button class="btn" type="reset" onclick="window.history.back()">
                            <i class="icon-arrow-left bigger-110"></i>
                            返回
                       
                        </button>
                    </div>
                </div>

            </form>

            <!-- PAGE CONTENT ENDS -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- tree -->
    <script type="text/ng-template" id="nodes_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content">
            <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)">
                <span class="glyphicon"
                      ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span>
            </a>
            {{node.title}}
            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="SelectItem(this)" style="margin-right: 3px;">
                <span class="glyphicon glyphicon-check"></span>
            </a>
        </div>
        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
        </ol>
    </script>
    <!--弹出添加节点窗口-->
    <div class="row">
        <div id="modal-table" class="modal fade" tabindex="-1" ng-controller="DictionaryTreeCtrl">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header no-padding">
                        <div class="table-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <span class="white">&times;</span>
                            </button>
                            选择分类
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div ui-tree id="tree-root">
                                        <ol ui-tree-nodes ng-model="TreeData">
                                            <li ng-repeat="node in TreeData" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                                        </ol>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer no-margin-top">
                        <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                            <i class="icon-remove"></i>
                            关闭

                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

    </div>
    <!--弹出添加节点窗口  end-->
    <!--tree end-->
</div>
