<div class="page-content" ng-controller="TechEvolveCtrl">
    <div class="page-header">
        <h1>技术进化模式与进化路线
        </h1>
    </div>
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <div class="col-sm-12">
                <div class="row">
                    <div class="widget-box">
                        <div class="widget-header widget-header-flat">
                            <h4 class="smaller">技术进化模式与进化路线</h4>
                            <span class="widget-toolbar">
                                <a href="" ng-click="SaveTechEvolveInfo()">
                                    <i class="icon-save"></i>
                                </a>
                            </span>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width:30%">名称</th>
                                            <th style="width:30%">特征</th>
                                            <th style="width:30%">备注</th>
                                            <th>
                                                <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                                    <a class="blue" style="cursor: pointer" ng-click="AddTechEvolutionInfo()">
                                                        <i class="icon-plus bigger-130"></i>
                                                    </a>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="TechEvolutionInfo in TechEvolutionInfoList|orderBy:'SerialNum'">
                                            <td>
                                                <input type="text" class="col-xs-12 col-sm-12 col-md-12" ng-model="TechEvolutionInfo.Name" /></td>
                                            <td>
                                                <input type="text" class="col-xs-12 col-sm-12 col-md-12" ng-model="TechEvolutionInfo.Character" /></td>
                                            <td>
                                                <input type="text" class="col-xs-12 col-sm-12 col-md-12" ng-model="TechEvolutionInfo.Remark" /></td>
                                            <td>
                                                <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                                    <a class="blue" style="cursor: pointer" ng-click="AddTechEvolutionInfo()">
                                                        <i class="icon-plus bigger-130"></i>
                                                    </a>

                                                    <a class="red" style="cursor: pointer" ng-click="DeleteTechEvolutionInfo($index)">
                                                        <i class="icon-trash bigger-130"></i>
                                                    </a>

                                                    <a class="red" style="cursor: pointer" ng-click="SetRador(TechEvolutionInfo)">
                                                        <i class="icon-bar-chart bigger-130"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>
    <!-- /row -->
    <!-- Nested node template -->
 <div class="row" ng-controller="DictionaryBigTreeCtrl">
        <div class="col-sm-6">
            <div class="widget-box">
                <div class="widget-header widget-header-flat">
                    <h4 class="smaller">分类树</h4>
                </div>

                <div class="widget-body" >
                    <div class="widget-main">
                        <div class="row">
                            <div class="col-xs-12" style="height:1000px;width:100%;overflow:auto" >
                                <ul id="treeDemo" class="ztree"></ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-12">
                    <div class="widget-box">
                        <div class="widget-header widget-header-flat">
                            <h4 class="smaller">详细信息</h4>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <form class="form-horizontal" id="validation-form" role="form">


                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="clearfix">
                                                {{nodeData.Name}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="clearfix">
                                                <p ng-bind-html="nodeData.Note | to_trusted"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="clearfix">
                                                {{nodeData.Remark}}
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--弹出添加节点窗口-->
    <div class="row">
        <div id="modal-table" class="modal fade col-xs-12" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header no-padding">
                        <div class="table-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <span class="white">&times;</span>
                            </button>
                            解决思路
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="widget-box">
                                        <div class="widget-header widget-header-flat">
                                            <h4 class="smaller">解决思路</h4>
                                        </div>

                                        <div class="widget-body">
                                            <div class="widget-main">
                                                <div id="idTest" style="margin-bottom: 1.25rem" class="ueditor" config="_simpleConfig" ng-model="Solution"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer no-margin-top">
                        <button class="btn btn-sm pull-left" ng-click="SaveToList()">
                            <i class="icon-plus"></i>
                            保存

                        </button>
                        <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                            <i class="icon-remove"></i>
                            关闭

                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

    </div>
    <!--弹出添加节点窗口  end-->
</div>
<!-- PAGE CONTENT ENDS -->
<!-- /.page-content -->
