<div class="page-content" ng-controller="FunctionAnalyseCtrl">
    <div class="page-header">
        <h1>功能分析

            <small>
                <i class="icon-double-angle-right"></i>
                <a data-toggle="modal" style="cursor: pointer" data-target="#modal-table">[查看功能分析流程]</a>
            </small>
        </h1>
    </div>
    <!-- /.page-header -->
    <!-- Nested node template -->
    <script type="text/ng-template" id="nodes_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content">
            <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)">
                <span class="glyphicon"
                      ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span>
            </a>
            {{node.title}}
            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="DeleteSubItem(this)" ng-show="ShowDeleteButton(this)"style="margin-right: 3px;">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="UpdateSubItem(this)" ng-show="ShowUpdateButton(this)"style="margin-right: 3px;">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" ng-show="ShowAddButton(this)" style="margin-right: 3px;">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
        </ol>
    </script>

    <div class="row">
        <div class="col-sm-4">
            <div class="widget-box">
                <div class="widget-header widget-header-flat">
                    <h4 class="smaller">结构树</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">
                            <div class="col-xs-12">
                                <div ui-tree id="tree-root">
                                    <ol ui-tree-nodes ng-model="TreeData">
                                        <li ng-repeat="node in TreeData" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                                    </ol>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="row">
                <div class="col-xs-12">
                    <div class="widget-box">
                        <div class="widget-header widget-header-flat">
                            <h4 class="smaller">整体系统相互作用关系</h4>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                                    <tr>
                                        <th></th>
                                        <th ng-repeat="Element1 in TreeLeafs | filter:{'ElementType':'整体系统'} ">{{Element1.title}}</th>
                                    </tr>

                                    <tr ng-repeat="Element2 in TreeLeafs | filter:{'ElementType':'整体系统'}">
                                        <td>{{Element2.title}}</td>
                                        <td ng-repeat="Element3 in TreeLeafs  | filter:{'ElementType':'整体系统'}">
                                            <input type="checkbox" id="{{Element2.ID}}_{{Element3.ID}}" ng-checked="isSelected(Element2.ID,Element3.ID)" name="{{Element3.title}}" ng-click="updateSelection($event,Element2.ID+'_'+Element3.ID)" ng-if="$index!=$parent.$index" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="widget-box">
                        <div class="widget-header widget-header-flat">
                            <h4 class="smaller">整体系统相互作用表</h4>
                            <span class="widget-toolbar">
                                <a href="" ng-click="SaveRelOperate()">
                                    <i class="icon-save"></i>
                                </a>
                            </span>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <table id="Table123" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>主动元件</th>
                                            <th>作用</th>
                                            <th>被动元件</th>
                                            <th>功能类型</th>
                                            <th>功能等级</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="RelElement in RelElementData | filter:filterForHoleSystem">
                                            <td>{{RelElement.PositiveEleName}}</td>
                                            <td>
                                                <input type="text" id="FunctionName" name="FunctionName" class="col-xs-12 col-sm-12" data-ng-model="RelElement.FunctionName" />
                                            </td>
                                            <td>{{RelElement.PassiveEleName}}</td>
                                            <td>
                                                <select class="col-xs-12 col-sm-12" id="FunctionType" ng-options="FunctionType.name as FunctionType.name for FunctionType in FunctionTypes" data-ng-model="RelElement.FunctionType"></select>
                                            </td>
                                            <td>
                                                <select class="col-xs-12 col-sm-12" id="FunctionGrade" ng-options="v.name as v.name for v in FunctionGrades" data-ng-model="RelElement.FunctionGrade"></select>
                                            </td>
                                            <td>
                                                <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                                    <a class="red" href="" ng-click="DeleteRelElement(RelElement)">
                                                        <i class="icon-trash bigger-130">删除</i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!--弹出添加制品相互作用关系窗口-->
            <div class="row">
                <div id="modal-table1" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header no-padding">
                                <div class="table-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        <span class="white">&times;</span>
                                    </button>
                                    制品相互作用关系
                                </div>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main">
                                    <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                                        <tr>
                                            <th></th>
                                            <th ng-repeat="Element1 in TreeLeafs | filter:{'ElementType':'整体系统'} ">{{Element1.title}}</th>
                                        </tr>

                                        <tr ng-repeat="Element2 in TreeLeafs | filter:{'ElementType':'制品'}">
                                            <td>{{Element2.title}}</td>
                                            <td ng-repeat="Element3 in TreeLeafs  | filter:{'ElementType':'整体系统'}">
                                                <input type="checkbox" id="{{Element2.ID}}_{{Element3.ID}}" ng-checked="isSelected(Element2.ID,Element3.ID)" name="{{Element3.title}}" ng-click="updateSelection($event,Element2.ID+'_'+Element3.ID)" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="modal-footer no-margin-top">
                                <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                                    <i class="icon-remove"></i>
                                    关闭
                                </button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

            </div>
            <!--弹出添加制品相互作用关系窗口  end-->


            <div class="row">
                <div class="col-xs-12">
                    <div class="widget-box">
                        <div class="widget-header widget-header-flat header-color-dark">
                            <h4 class="smaller">制品相互作用表</h4>
                            <span class="widget-toolbar">
                                <a href="" ng-click="NewRelOperate('zhipin')">
                                    <i class="icon-plus"></i>
                                </a>
                            </span>
                            <span class="widget-toolbar">
                                <a href="" ng-click="SaveRelOperate()">
                                    <i class="icon-save"></i>
                                </a>
                            </span>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <table id="Table1" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>主动元件</th>
                                            <th>作用</th>
                                            <th>被动元件</th>
                                            <th>功能类型</th>
                                            <th>功能等级</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="RelElement in RelElementData | filter:filterForProductSystem">
                                            <td>{{RelElement.PositiveEleName}}</td>
                                            <td>
                                                <input type="text" id="FunctionName" name="FunctionName" class="col-xs-12 col-sm-12" data-ng-model="RelElement.FunctionName" />
                                            </td>
                                            <td>{{RelElement.PassiveEleName}}</td>
                                            <td>
                                                <select class="col-xs-12 col-sm-12" id="FunctionType" ng-options="FunctionType.name as FunctionType.name for FunctionType in FunctionTypes" data-ng-model="RelElement.FunctionType"></select>
                                            </td>
                                            <td>
                                                <select class="col-xs-12 col-sm-12" id="FunctionGrade" ng-options="v.name as v.name for v in FunctionGrades" data-ng-model="RelElement.FunctionGrade"></select>
                                            </td>
                                            <td>
                                                <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                                    <a class="red" href="" ng-click="SwopRel(RelElement)">
                                                        <i class="icon-trash bigger-130">更改主被动关系</i>
                                                    </a>

                                                    <a class="red" href="" ng-click="DeleteRelElement(RelElement)">
                                                        <i class="icon-trash bigger-130">删除</i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--弹出超系统相互作用关系窗口-->
            <div class="row">
                <div id="modal-table2" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header no-padding">
                                <div class="table-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        <span class="white">&times;</span>
                                    </button>
                                    超系统相互作用关系
                                </div>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main">
                                    <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                                        <tr>
                                            <th></th>
                                            <th ng-repeat="Element1 in TreeLeafs | filter:RelFilter ">{{Element1.title}}</th>
                                        </tr>

                                        <tr ng-repeat="Element2 in TreeLeafs | filter:{'ElementType':'超系统'}">
                                            <td>{{Element2.title}}</td>
                                            <td ng-repeat="Element3 in TreeLeafs  | filter:RelFilter">
                                                <input type="checkbox" id="{{Element2.ID}}_{{Element3.ID}}" ng-checked="isSelected(Element2.ID,Element3.ID)" name="{{Element3.title}}" ng-click="updateSelection($event,Element2.ID+'_'+Element3.ID)" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="modal-footer no-margin-top">
                                <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                                    <i class="icon-remove"></i>
                                    关闭
                                </button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

            </div>
            <!--弹出超系统相互作用关系窗口  end-->


            <div class="row">
                <div class="col-xs-12">
                    <div class="widget-box">
                        <div class="widget-header widget-header-flat header-color-pink">
                            <h4 class="smaller">超系统相互作用表</h4>
                            <span class="widget-toolbar">
                                <a href="" ng-click="NewRelOperate('supersystem')">
                                    <i class="icon-plus"></i>
                                </a>
                            </span>
                            <span class="widget-toolbar">
                                <a href="" ng-click="SaveRelOperate()">
                                    <i class="icon-save"></i>
                                </a>
                            </span>

                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <table id="Table1" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>主动元件</th>
                                            <th>作用</th>
                                            <th>被动元件</th>
                                            <th>功能类型</th>
                                            <th>功能等级</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="RelElement in RelElementData | filter:filterForSuperSystem">
                                            <td>{{RelElement.PositiveEleName}}</td>
                                            <td>
                                                <input type="text" id="FunctionName" name="FunctionName" class="col-xs-12 col-sm-12" data-ng-model="RelElement.FunctionName" />
                                            </td>
                                            <td>{{RelElement.PassiveEleName}}</td>
                                            <td>
                                                <select class="col-xs-12 col-sm-12" id="FunctionType" ng-options="FunctionType.name as FunctionType.name for FunctionType in FunctionTypes" data-ng-model="RelElement.FunctionType"></select>
                                            </td>
                                            <td>
                                                <select class="col-xs-12 col-sm-12" id="FunctionGrade" ng-options="v.name as v.name for v in FunctionGrades" data-ng-model="RelElement.FunctionGrade"></select>
                                            </td>
                                            <td>
                                                <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                                    <a class="red" href="" ng-click="SwopRel(RelElement)">
                                                        <i class="icon-trash bigger-130">更改主被动关系</i>
                                                    </a>

                                                    <a class="red" href="" ng-click="DeleteRelElement(RelElement)">
                                                        <i class="icon-trash bigger-130">删除</i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-xs-12">
                    <div class="widget-box">
                        <div class="widget-header widget-header-flat">
                            <h4 class="smaller">功能模型图</h4>
                            <span class="widget-toolbar">
                                <a href="" ng-click="RefreshMap()">
                                    <i class="icon-refresh"></i>
                                </a>
                            </span>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <div class="wrap3_graph">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--弹出添加节点窗口-->
            <div class="row">
                <div id="modal-table" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header no-padding">
                                <div class="table-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        <span class="white">&times;</span>
                                    </button>
                                    维护系统元件
                                </div>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="widget-box">
                                                <div class="widget-header widget-header-flat">
                                                    <h4 class="smaller">系统元件</h4>
                                                </div>

                                                <div class="widget-body">
                                                    <div class="widget-main">
                                                        <div>
                                                            <div>
                                                                <label for="form-field-select-1">元件名称</label>

                                                                <input type="text" id="EleName" name="EleName" class="form-control" data-ng-model="EleName" />

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="modal-footer no-margin-top">
                                <button class="btn btn-sm pull-left" ng-click="SaveEleName()">
                                    <i class="icon-plus"></i>
                                    保存

                                </button>
                                <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                                    <i class="icon-remove"></i>
                                    关闭

                                </button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

            </div>
            <!--弹出添加节点窗口  end-->
        </div>
    </div>

</div>

<!-- PAGE CONTENT ENDS -->
<!-- /.page-content -->
