<div class="page-content">
    <div class="page-header">
        <h1>功能分析
		
            <small>
                <i class="icon-double-angle-right"></i>
                <a data-toggle="modal" style="cursor: pointer" data-target="#modal-table">[查看功能分析流程]</a>
            </small>
        </h1>
    </div>
    <!-- /.page-header -->

    <!-- Nested node template -->
    <script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle class="tree-node tree-node-content">
    <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span
        class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
    {{node.title}}
    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="aaa(this)" style="margin-left: 8px;"><span
        class="glyphicon glyphicon-remove"></span></a>
    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span
        class="glyphicon glyphicon-remove"></span></a>
    <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span
        class="glyphicon glyphicon-plus"></span></a>
  </div>
  <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ol>
</script>

    <div class="row">
        <div class="col-sm-4">
            <div class="widget-box">
                <div class="widget-header widget-header-flat">
                    <h4 class="smaller">结构树
                    </h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">
                            <div class="col-xs-12">
                                <div ui-tree id="tree-root">
                                    <ol ui-tree-nodes ng-model="data">
                                        <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                                    </ol>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="row">
                <div class="col-xs-12">
                    <div class="widget-box">
                        <div class="widget-header widget-header-flat">
                            <h4 class="smaller">相互作用关系</h4>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                                    <tr>
                                        <th></th>
                                        <th>电机</th>
                                        <th>大链轮 </th>
                                        <th>小链轮 </th>
                                        <th>链条 </th>
                                    </tr>

                                    <tr>
                                        <td>电机</td>
                                        <td></td>
                                        <td>
                                            <input type="checkbox" /></td>
                                        <td>
                                            <input type="checkbox" /></td>
                                        <td>
                                            <input type="checkbox" /></td>
                                    </tr>
                                    <tr>
                                        <td>大链轮</td>
                                        <td>
                                            <input type="checkbox" />
                                        </td>
                                        <td></td>
                                        <td>
                                            <input type="checkbox" /></td>
                                        <td>
                                            <input type="checkbox" /></td>
                                    </tr>
                                    <tr>
                                        <td>小链轮</td>
                                        <td>
                                            <input type="checkbox" />
                                        </td>
                                        <td>
                                            <input type="checkbox" /></td>
                                        <td></td>
                                        <td>
                                            <input type="checkbox" /></td>
                                    </tr>
                                    <tr>
                                        <td>链条</td>
                                        <td>
                                            <input type="checkbox" />
                                        </td>
                                        <td>
                                            <input type="checkbox" /></td>
                                        <td>
                                            <input type="checkbox" /></td>
                                        <td></td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="widget-box">
                        <div class="widget-header widget-header-flat">
                            <h4 class="smaller">相互作用表</h4>

                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <table id="Table1" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>主动元件</th>
                                            <th>作用</th>
                                            <th>被动元件</th>
                                            <th>功能类型</th>
                                            <th>功能等级</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>电机</td>
                                            <td>转动</td>
                                            <td>大链轮</td>
                                            <td>有害功能</td>
                                            <td>正常功能</td>
                                            <td>
                                                <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                                    <a class="blue" href="#">
                                                        <i class="icon-plus bigger-130"></i>
                                                    </a>

                                                    <a class="green" href="#">
                                                        <i class="icon-pencil bigger-130"></i>
                                                    </a>

                                                    <a class="red" href="#">
                                                        <i class="icon-trash bigger-130"></i>
                                                    </a>
                                                </div>

                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="inline position-relative">
                                                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
                                                            <i class="icon-caret-down icon-only bigger-120"></i>
                                                        </button>

                                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                                            <li>
                                                                <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                                    <span class="blue">
                                                                        <i class="icon-plus bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                    <span class="green">
                                                                        <i class="icon-edit bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                                    <span class="red">
                                                                        <i class="icon-trash bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>链轮轴</td>
                                            <td>转动</td>
                                            <td>丝杠</td>
                                            <td>有害功能</td>
                                            <td>正常功能</td>
                                            <td>
                                                <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                                    <a class="blue" href="#">
                                                        <i class="icon-plus bigger-130"></i>
                                                    </a>

                                                    <a class="green" href="#">
                                                        <i class="icon-pencil bigger-130"></i>
                                                    </a>

                                                    <a class="red" href="#">
                                                        <i class="icon-trash bigger-130"></i>
                                                    </a>
                                                </div>

                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="inline position-relative">
                                                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
                                                            <i class="icon-caret-down icon-only bigger-120"></i>
                                                        </button>

                                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                                            <li>
                                                                <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                                    <span class="blue">
                                                                        <i class="icon-plus bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                    <span class="green">
                                                                        <i class="icon-edit bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                                    <span class="red">
                                                                        <i class="icon-trash bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- PAGE CONTENT ENDS -->

    <div class="row">
        <div class="col-xs-12">
            <img width="100%" src="/pages/FunctionAnalyse/t.png" />
        </div>
    </div>

    <div class="row">
        <div id="modal-table" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header no-padding">
                        <div class="table-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <span class="white">&times;</span>
                            </button>
                            功能分析流程
                       
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-xs-12">
                                    <img width="100%" src="/pages/FunctionAnalyse/t.png" />
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer no-margin-top">
                        <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                            <i class="icon-remove"></i>
                            关闭
                       
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

    </div>
</div>
<!-- /.page-content -->
