<div class="page-content" ng-controller="ProjectCtrl">
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="header smaller lighter blue">物理冲突解决</h3>
                    <p>
                        <label style="display: inline-block; width: 200px; text-align: right;">正向特性（提高特性）:</label>
                        空载时提供张紧力
                    </p>
                    <p>
                        <label style="display: inline-block; width: 200px; text-align: right;">反向特性（恶化特性）:</label>
                        重载时取消张紧力
                    </p>
                    <p>
                        <button class="btn btn-primary" ui-sref="ProjectAdd">选择案例</button>
                        <button class="btn btn-primary" ng-click="Delete()">删除</button>
                        <button class="btn btn-primary" ng-click="Delete()">查看冲突矩阵</button>
                    </p>
                    <div class="table-responsive">
                        <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center">
                                        <label>
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </th>
                                    <th>分离原理</th>
                                    <th>发明原理</th>
                                    <th>案例代码</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td class="center">
                                        <label>
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>时间分离</td>
                                    <td>预加反作用</td>
                                    <td><a>预压缩弹簧</a></td>
                                    <td>
                                        <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">

                                            <a class="red" href="#">
                                                <i class="icon-trash bigger-130"></i>
                                            </a>

                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <label>
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>空间分离</td>
                                    <td>分割</td>
                                    <td><a>汽车的多段活动车顶</a></td>
                                    <td>
                                        <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">

                                            <a class="red" href="#">
                                                <i class="icon-trash bigger-130"></i>
                                            </a>

                                        </div>

                                    </td>
                                </tr>





                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- PAGE CONTENT ENDS -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>

<!-- inline scripts related to this page -->

