<div class="page-content" ng-controller="SeparationPrincipleListCtrl">
    <div class="page-header">
        <h1>{{PageTitle}}
        </h1>
    </div>
    <!-- /.page-header -->
    <!-- Nested node template -->
    <script type="text/ng-template" id="nodes_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content">
            <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)">
                <span class="glyphicon"
                      ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span>
            </a>
            {{node.title}}
            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="DeleteSubItem(this)" style="margin-right: 3px;">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="UpdateSubItem(this)" style="margin-right: 3px;">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 3px;">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
        </ol>
    </script>

    <div class="row">
        <div class="col-sm-5">
            <div class="widget-box">
                <div class="widget-header widget-header-flat">
                    <h4 class="smaller">分类树</h4>
                    <span class="widget-toolbar">
                    </span>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">
                            <div class="col-xs-12" style="height:1000px;width:100%;overflow:auto">
                                <div id="tree1" class="tree"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-7" ng-controller="DicInfoOpeCtrl" >
            <div class="row">
                <div class="col-xs-12">
                    <div class="widget-box">
                        <div class="widget-header widget-header-flat">
                            <h4 class="smaller">详细信息维护</h4>
                            <span class="widget-toolbar">
                                <a href="" ng-click="SaveInfo()">
                                    <i class="icon-save"></i>
                                </a>
                            </span>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <form class="form-horizontal" id="validation-form" role="form">

                                    <div class="form-group">
                                        <label class="col-sm-1 control-label no-padding-right" for="form-field-1">名称</label>

                                        <div class="col-sm-11">
                                            <div class="clearfix">
                                                <input type="text" id="Name" name="Name" class="col-xs-10 col-sm-5" data-ng-model="nodeData.Name" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-1 control-label no-padding-right" for="form-field-1">描述</label>

                                        <div class="col-sm-11">
                                            <div class="clearfix">
                                                <div id="idTest" style="margin-bottom: 1.25rem" class="ueditor" config="_simpleConfig" ng-model="nodeData.Note"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label no-padding-right" for="form-field-1">备注</label>
                                        <div class="col-sm-11">
                                            <div class="clearfix">
                                                <textarea class="form-control limited" data-ng-model="nodeData.Remark"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix form-actions">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button class="btn btn-info" type="button" ng-click="SaveInfo()">
                                                <i class="icon-ok bigger-110"></i>
                                                保存
                                            </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--弹出添加节点窗口-->
    <div class="row">
        <div id="modal-table" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header no-padding">
                        <div class="table-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <span class="white">&times;</span>
                            </button>
                            维护
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="widget-box">
                                        <div class="widget-header widget-header-flat">
                                            <h4 class="smaller">节点</h4>
                                        </div>

                                        <div class="widget-body">
                                            <div class="widget-main">
                                                <div>
                                                    <div>
                                                        <label for="form-field-select-1">名称</label>
                                                        <input type="text" id="Name" name="Name" class="form-control" data-ng-model="Name" />
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer no-margin-top">
                        <button class="btn btn-sm pull-left" ng-click="SaveName()">
                            <i class="icon-plus"></i>
                            保存

                        </button>
                        <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                            <i class="icon-remove"></i>
                            关闭

                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

    </div>
    <!--弹出添加节点窗口  end-->
</div>
<!-- PAGE CONTENT ENDS -->
<!-- /.page-content -->
